root = true

[*.cs]
dotnet_diagnostic.CA1051.severity = warning
dotnet_code_quality.CA1051.exclude_structs = true
dotnet_diagnostic.CA1826.severity = warning
dotnet_code_quality.CA1826.exclude_ordefault_methods = true
dotnet_diagnostic.CA2007.severity = warning
dotnet_code_quality.CA2007.exclude_async_void_methods = true